
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}">Wikelian</a>
        </li>
        {% if post.category.parent %}
            {% if post.category.parent.parent %}
                <li class="breadcrumb-item">
                    <a href="{{ path('category', {'slug':post.category.parent.parent.slug}) }}">{{ post.category.parent.parent.name }}</a>
                </li>
            {% endif %}
            <li class="breadcrumb-item">
                <a href="{{ path('category', {'slug':post.category.parent.slug}) }}">{{ post.category.parent.name }}</a>
            </li>
        {% endif %}
        <li class="breadcrumb-item">
            <a href="{{ path('category', {'slug':post.category.slug}) }}">{{ post.category.name }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
    </ol>
</nav>
