{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle ~ ' - ' ~ category.name }}{% endblock %}

{% block body %}

    {% include 'category/_breadcrumb.html.twig' %}

    <section class="row p-2">
        <div class="col-12 wk_category_page p-3">

            <h1>{{ category.name }}</h1>
            <p>{{ category.description }}</p>

            <div class="row p-2">
                {% for child in category.children %}
                    <div class="col-6 col-md-4 col-lg-3 p-2">
                        <a href="{{ path('category', {'slug':child.slug}) }}" class="wk_category_page_item btn w-100 h-100">
                            {% if child.thumbnail %}
                                <img src="{{ child.thumbnail }}" height="30" alt="{{ child.slug }}">
                            {% endif %}
                            <h2 class="mb-0">
                                {{ child.name }}
                                <span class="badge">{{ child.posts|length }}</span>
                            </h2>
                        </a>
                    </div>
                {% endfor %}
            </div>
            
            <div class="row p-2">
                {% for post in category.posts %}
                    <div class="col-12 col-md-6 p-2">
                        <div class="wk_category_page_item p-2 d-flex h-100">
                            <div class="my-auto">
                                {% if post.thumbnail %}
                                    <a href="{{ path('post', {'slug':post.slug}) }}">
                                        <img src="/images/uploaded/{{ post.thumbnail }}" height="60" alt="{{ post.slug }}">
                                    </a>
                                {% else %}
                                    <a href="{{ path('post', {'slug':post.slug}) }}">
                                        <img src="/images/notfound.png" height="60" alt="{{ post.slug }}">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="h-100 ms-3">
                                <a href="{{ path('post', {'slug':post.slug}) }}" class="btn p-0 mb-2">
                                    <h2 class="mb-0">{{ post.title }}</h2>
                                </a>
                                <p class="mb-0">{{ post.description|raw }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section

{% endblock %}
