{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle ~ ' - ' ~ post.title }}{% endblock %}

{% block body %}

    {% include 'post/_breadcrumb.html.twig' %}

    <section class="row justify-content-between p-2">
        <div class="col-md-9 p-0">
            <div class="bg-white shadow-sm border mb-3">

                <h1 class="h2 bg-dark text-white text-center p-2 mb-0">
                    {{ post.title }}
                </h1>

                <div class="wk_post_info p-3">

                    {% set withoutModel3d = true %}
                    {% for tx in post.taxonomies %}
                        {% if tx.term == 'model3d' %}
                            {% set withoutModel3d = false %}
                            <iframe src="{{ tx.value }}" style="width: 250px; height: 400px; border: none;"></iframe>
                        {% endif %}
                    {% endfor %}

                    {% if withoutModel3d and post.thumbnail %}
                        <img src="/images/uploaded/{{ post.thumbnail }}" width="100" alt="{{ post.slug }}">
                    {% endif %}

                    <div class="ps-3 wk_post_desc">
                        
                        {% if post.content %}
                            {{ post.content|raw }}
                        {% endif %}
                        
                        <ul class="list-group list-group-horizontal-xl">
                        {% for tx in post.taxonomies %}
                            {% if tx.term == 'vnum' %}
                                <li class="list-group-item w-100"><strong>VNUM</strong>: {{ tx.value }} </li>
                            {% endif %}
                            {% if tx.term == 'job' %}
                                <li class="list-group-item w-100"><strong>CLASS</strong>: {{ tx.value }} </li>
                            {% endif %}
                            {% if tx.term == 'sockets' %}
                                <li class="list-group-item w-100"><strong>SOCKETS</strong>: {{ tx.value }} </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                        
                        {% include 'post/_drops.html.twig' %}

                    </div>

                </div>

                {% include 'post/_upgrade.html.twig' %}

            </div>
        </div>
        <div class="col-md-3 ps-3 pe-0">

            {% if post.category.posts|length > 1 %}
            <div class="bg-white shadow-sm border mb-3">
                <h2 class="bg-dark text-white text-center p-2 mb-0">Same category posts</h2>
                <div class="list-group rounded-0">
                    {% for postCat in post.category.posts %}
                        {% if postCat.id != post.id %}
                            <a href="{{ path('post', {'slug':postCat.slug}) }}" class="list-group-item list-group-item-action border-0">
                                {% if postCat.thumbnail %}
                                    <img src="/images/uploaded/{{ postCat.thumbnail }}" height="30" alt="{{ postCat.slug }}">
                                {% endif %}
                                {{ postCat.title }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <div class="bg-white shadow-sm border">
                <h2 class="bg-dark text-white text-center p-2 mb-0">Last posts</h2>
                <div class="list-group rounded-0">
                    {% for lPost in lastPosts %}
                        <a href="{{ path('post', {'slug':lPost.slug}) }}" class="list-group-item list-group-item-action border-0">
                            {% if lPost.thumbnail %}
                                <img src="/images/uploaded/{{ lPost.thumbnail }}" height="30" alt="{{ lPost.slug }}">
                            {% endif %}
                            {{ lPost.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>

{% endblock %}
